<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
           <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        {% endblock %}

    </head>
    <body>
        {% include 'comunes/_menu.html.twig' %}
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.6.2.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
